version: '3.7'

services:
  docker_api_service:
    restart: unless-stopped
    build: ./docker-api
    command: gunicorn server:app --bind 0.0.0.0:8000 --workers=4
    environment:
      APP_ENV: "prod"
      APP_DEBUG: "False"
      APP_PORT: 5000
      MONGODB_DATABASE: flaskdb
      MONGODB_HOSTNAME: mongodb
    volumes:
      - ./docker-api/
    ports:
      - 8000:8000
    depends_on:
      - mongodb
    networks:
      - frontend
      - backend

  mongodb:
    image: mongo:4.0.8
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: flaskdb
      MONGODB_DATA_DIR: /data/db
      MONDODB_LOG_DIR: /dev/null
    volumes:
      - mongodbdata:/data/db
    networks:
      - backend

  nginx:
    restart: unless-stopped
    image: nginx:latest
    ports:
      - "8005:8005"
    volumes:
      - ./nginx_config.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - docker_api_service
    networks:
      - frontend

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge
volumes:
  mongodbdata:
    driver: local